body {
  font-family: "Raleway", serif;
  background: linear-gradient(to bottom, #f8def0, #f0f4c3, #baffb4);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.cadastrar {
  font-family: "Raleway", serif;
  background: linear-gradient(to bottom, #f8def0, #f0f4c3, #baffb4);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
}

.text-content {
  margin-left: 15%;
  max-width: 50%;
}

.text-content-2 {
  margin-left: 52%;
  margin-top: 0%;
  max-width: 50%;
}

.title {
  font-size: 80px;
  font-weight: 900;
  color: black;
  animation: gradient 3s ease infinite;
  font-family: "Racing Sans One", serif;
}

.header {
  font-size: 50px;
  font-weight: 900;
  color: black;
  animation: gradient 3s ease infinite;
  font-family: "Racing Sans One", serif;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  height: auto;
  margin-bottom: 1cm;
}

.subtitle {
  font-size: 30px;
  margin-top: 10px;
  font-family: "Raleway", serif;
  font-weight: 600px;
}

.botoes {
  margin-top: 20px;
}

.botao {
  padding: 10px 40px;
  font-family: "Raleway", serif;
  font-weight: 800;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 25px;
  border: 3px solid white;
  border-radius: 25px;
  background: white;
  opacity: 50%;
  color: black;
  cursor: not-allowed;
  font-size: 16px;
  transition: transform 0.3s;
}

.botao-registro {
  padding: 10px 25px;
  font-family: "Raleway", serif;
  font-weight: 800;
  margin-left: 4px;
  margin-top: auto;
  border: 3px solid white;
  border-radius: 25px;
  background: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s;
}

.Imagem-1 {
  max-width: 1500px;
  height: auto;
  margin-left: 0%;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.login-caixa {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.title-2 {
  font-size: 50px;
  font-weight: 900;
  color: black;
  font-family: "Racing Sans One", serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form {
  margin-bottom: 15px;
}

label {
  display: block;
  text-align: left;
  font-weight: 700;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #999;
}

a {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}

.butao {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-voltar,
.btn-entrar {
  padding: 10px 60px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
}

.esqueci {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.btn-voltar {
  background: #ccc;
  color: black;
}

.btn-entrar {
  background: #ffc107;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}

.registro {
  margin-top: 5px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  text-align: left;
}

.registro:hover {
  text-decoration: underline;
}
